@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100vw;
  min-height: 100vh;

  body {
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;

    font-family: "Montserrat", sans-serif;
  }
}

.App {
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100vw;
  min-height: 100vh;

  overflow: auto;

  background-color: black;

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;

  .wrapper {
    display: flex;

    .ElmirAside {
      min-width: 300px;
      min-height: 600px;
      max-width: 300px;
      max-height: 600px;

      display: flex;

      .ElmirPhotoWrapper {
        margin-left: auto;
        margin-right: auto;

        max-width: 300px;
        max-height: 600px;
        min-width: 300px;
        min-height: 600px;

        border-radius: 15px;
        overflow: hidden;

        .ElmirPhoto {
          border-radius: 15px;

          max-width: 300px;
          max-height: 600px;
          min-width: 300px;
          min-height: 600px;
        }
      }
    }

    .MainContent {
      width: 77.2%;

      padding-left: 5%;

      color: white;

      .site-ahref {
        text-decoration: none;
        color: white;
        border-bottom: 2px solid white;

        &:hover {
          border-bottom: 2px solid rgb(179, 255, 0);
        }
      }

      .MyFilms {
        height: 70%;

        padding: 2%;

        border-radius: 15px;
        background: #ffffff;
        box-shadow: inset 5px 5px 10px #a6a6a6, inset -5px -5px 10px #ffffff;

        color: black;

        display: flex;
        overflow-x: scroll;

        .CardFilm {
          margin-right: 2%;

          .WrapInfo {
            position: relative;

            &:last-child {
              margin-right: 0;
            }

            &:hover {
              & .FilmInfo {
                z-index: 1;
              }
            }

            .FilmPoster {
              color: red;
              border-radius: 15px;

              height: 365px;
              width: 262px;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: cover;
            }

            .FilmInfo {
              position: absolute;
              top: 0;
              color: red;
              background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 26.43%,
                rgba(0, 0, 0, 0.8) 72.41%
              );
              backdrop-filter: blur(2px);
              border-radius: 12px;
              width: 100%;
              height: 100%;
              border-radius: 15px;
              z-index: -1;

              display: flex;
              flex-direction: column;
              justify-content: flex-end;

              .FilmRating {
                margin-left: 1px;

                font-family: "Roboto", Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
                color: #ffffff;
              }

              .Name {
                margin-left: 1px;
                color: #ffffff;
                margin-bottom: 10px;
                font-family: "Roboto", Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
              }

              .Type {
                margin-left: 1px;
                color: #ffffff;
                margin-bottom: 10px;
                font-family: "Roboto", Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
              }

              .Meta {
                margin-left: 5px;
                margin-right: 5px;
                display: flex;
                justify-content: space-between;

                font-family: "Roboto", Arial, Helvetica, sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.4);
              }
            }
          }

          .FilmMoreInfoPopup {
            z-index: 9999999;
            // display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0%;
            left: 0%;
            background-color: rgba(185, 185, 185, 0.7);

            .InfoPopup {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 70%;
              height: 80%;
              background-color: green;
              border-radius: 15px;

              .PopupHead {
                height: 40px;
                background-color: white;
                color: black;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                text-align: center;
                padding-top: 10px;
                border-bottom: 1px solid #000;

                .PopupClose {
                  position: absolute;
                  top: 0;
                  right: 15px;
                  border: 0;
                  background-color: red;
                  padding: 0.95%;

                  &:hover {
                    background-color: black;
                    color: white;
                  }

                  &:active {
                    background-color: green;
                  }
                }
              }

              .PopupBody {
                height: 100%;
                padding: 1%;
                background-color: rgb(185, 185, 185);
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;

                display: flex;

                .AsideLeft {
                  width: 35%;

                  img {
                    width: 100%;
                  }
                }

                .AsideRight {
                  padding: 1%;
                  width: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.filmPopupTurnOn {
  display: block;
}
