.Landing-Four {
  min-height: 100vh;
  // padding-bottom: 30px; // изменить

  header {
    height: 100px;
  }

  main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    color: #4e6fa5;
    position: relative;

    .create-email {
      text-transform: uppercase;
      width: 50%;
      padding-top: 40px;

      p {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        color: #4e6fa5;
        line-height: 1;
      }

      form[name="email-form"] {
        // input[name="user-name"] {
        // }
        // input[name="user-email"] {
        // }
        // input[name="user-subject"] {
        // }

        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        input {
          display: block;
          margin-top: 20px;
          height: 40px;
          outline: 0;
          border: 2px solid #4089f8;
          border-radius: 2%;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
        }

        textarea {
          margin-top: 20px;
          outline: 0;
          border: 2px solid #4089f8;
          border-radius: 2%;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          resize: none;
          width: 100%;
          height: 200px;
        }

        button {
          margin-top: 20px;
          outline: 0;
          border: none;
          background-color: #1b54ab;
          border-bottom: 2px solid #4089f8;
          color: #fff;
          padding-top: 20px;
          padding-bottom: 20px;
          transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

          &:hover,
          &:focus {
            color: #1b54ab;
            outline: 0;
            box-shadow: 0 0 40px 40px #fff inset;
          }
        }
      }
    }

    .alternative-socials {
      position: absolute;
      top: 90%;
      left: 46.5%;
      transform: rotate(-90deg);
      transform-origin: top left;
      color: #4e6fa5;
      font-size: 26px;
      text-transform: uppercase;
    }

    .social-links {
      width: 50%;
      padding-top: 40px;
      height: 568.4px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      div {
        a {
          display: flex;
          text-decoration: none;
          position: relative;

          img {
            width: 15%;
          }

          span {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 26px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
